<head>
  <style>
  body {font-size:20px; color:#2d2d2d; margin:0; background-color:#f9f9f9;}
  button {font-size:12px;}
  h1 {color:#605e66;}
  </style>
</head>
<center><h1>Pet Shop Inventory</h1></center>
<center><h3>Log In</h3></center>

<%= form_tag sessions_path do %>
  <center><div class="field">
    <%= label_tag 'Email' %><br />
    <%= text_field_tag :email, params[:email] %>
  </div></center>
  <center><div class="field">
    <%= label_tag 'Password' %><br />
    <%= password_field_tag :password %>
  </div></center>
  <center><div class="actions"><%= submit_tag "Log In" %></div></center>
<% end %>
<br><center>New User? <%= link_to 'Sign Up', signup_path %></center>