<style> 
  h1 {background-color: #A9A9A9; color: #f2f2f2;} 
  body {font-size:20px; margin:0;} 
</style>

<center><h1>Log In</h1></center>

<header>
  <img class="pet-image" src="https://www.planitbusiness.com/wp-content/uploads/2017/03/Pets.jpg" alt="Pet Shop Inventory" width="1250" height="300">
</header>

<%= form_tag sessions_path do %>
  <center><div class="field">
    <%= label_tag 'Email' %><br />
    <%= text_field_tag :email, params[:email] %>
  </div></center>
  <center><div class="field">
    <%= label_tag 'Password' %><br />
    <%= password_field_tag :password %>
  </div></center>
  <center><div class="actions"><%= submit_tag "Log In" %></div></center>
<% end %>
<br><center>New User? <%= link_to 'Sign Up', signup_path %></center>