<head>
  <style>
  body {font-size:20px; color:#2d2d2d; margin:0; background-color:#d3d0db;}
  button {font-size:12px;}
  h1 {color:#605e66;}
  </style>
  
<center><h1>Pet Shop Inventory</h1></center>
<br>


<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>