<style> 
  h1 {background-color: #339933; color: #f2f2f2;} 
  body {font-size:20px; color:#339933; margin:0; background-color:#F5F5F5;}
</style>

<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<header>
  <center><img class="pet-image" src="http://thepetshopaz.com/wp-content/uploads/2015/08/logo_retina.png" alt="Pet Shop Inventory" width="500" height="200"></center>
</header>
<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>