<p id="notice"><%= notice %></p>
<div>
  <center><h1>Pet Shop Inventory</h1></center>
</div>

<h2>Summary</h2>
<br>

<p>
<strong>FOR SALE</strong>
<% @animals_for_sale.each do |species, animals| %>
   <br><strong>Number of <%= species %>s:</strong>
       <%= animals.count %>
<% end %>
</p>

<p>
<strong>SOLD</strong> 
<% @animals_for_sold.each do |species, animals| %>
   <br><strong>Number of <%= species %>s:</strong>
       <%= animals.count %>
<% end %>
</p>

<p>
<strong>Total Amount Received From Sales:</strong>
	<%= @animal = Animal.sum(&:Price) %>
</p>
<br>

<h2>Filter</h2>
<%= form_tag(show_inventory_path, method: :get) do %>
  <%= text_field_tag :animal, params[:animal] %>
  <%= submit_tag 'Search', Species: nil %>
<% end %>

<br>
<br><br><button><%= link_to 'Back', animals_path%></button>
