<p id="notice"><%= notice %></p>
<div>
  <center><h1>Pet Shop Inventory</h1></center>
</div>

<h2>Summary</h2>
<br>

<p>
<strong>For sale</strong>
<% @animals_for_sale.each do |species, animals| %>
   <br><strong>Number of <%= species %>s:</strong>
       <%= animals.count %>
<% end %>
</p>

<p>
<strong>For sold</strong> 
<% @animals_for_sold.each do |species, animals| %>
   <br><strong>Number of <%= species %>s:</strong>
       <%= animals.count %>
<% end %>
</p>

<p>
<strong>Total Amount Received From Sales:</strong>
	<%= @animal = Animal.sum(&:Price) %>
</p>
<br>

<h4>Filter</h4>
<%= link_to 'Species', animals_path%> ||
<%= link_to 'Breed', animals_path%> ||
<%= link_to 'Status', animals_path%> 
<br>
<br>
<button><%= link_to 'Back', animals_path%></button>
