<div>
  <center><h1>Pet Shop Inventory</h1></center>
</div>

<h2>Summary</h2>

<h4>For sale</h4>

<% @animal.each do |animal| %>
	<%= animal.Species %>
	<%if @animal.Species == 'Dog'%>
		<%= link_to 'Dog', animal_species_dog_path(animal)%>
	<%else%>
		<%= link_to 'Cat', animal_species_cat_path(animal)%>
<%end%>

<p>
<h4>Sold</h4>
	<strong>Number of Dogs:</strong>
	<%= @animal = Animal.count %>
	<br><strong>Number of Cats:</strong>
	<%= @animal = Animal.count %>
</p>

<p>
<h3>Total Amount Received From Sales</h3>
</p>

<br><br>
<button><%= link_to 'Species', animals_path %></button> -
<button><%= link_to 'Breed', animals_path %></button> -
<button><%= link_to 'Status', animals_path %></button> -
<button><%= link_to 'Back', animals_path %></button> 
